@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f9fc;
  height: 100vh;
  overflow: auto;
}

.container {
  max-width: 1000px;
  margin: 3% auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #2c3e50;
  margin-bottom: 20px;
}

textarea {
  width: 95%;
  height: 40vh;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 20px;
  resize: vertical;
}

button {
  padding: 12px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2980b9;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 20px 10px;
  }

  h1 {
    font-size: 24px;
  }
}

/* Coming from Jira */
.table-wrap {
  margin-top: 2em;
}
/* .confluenceTable {}
.confluenceTh {}
.confluenceTd {} */

pre {
  background-color: black;
  color: white;
  padding: 10px;
  overflow-x: auto;
}

code {
  color: #e8e8e8; /* Base color for the code */
}

#answer-2-results table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 3em;
}

#answer-2-results th {
  border: 1px solid #ddd;
  padding: 8px;
}

#answer-2-results td {
  border: 1px solid #ddd;
  padding: 8px;
}

#answer-2-results th {
  background-color: rgb(209 213 219);
  color: rgb(31 41 55);
  text-align: left;
}

#answer-2-results p:has(strong) {
  margin-top: 1em;
}

#answer-2-results h2,h3 {
  color: #444;
  margin-top: 20px;
}

/* loaded-xml-section */
#loaded-xml-section h3 {
  margin-top: 0;
}

#loaded-xml-section table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 3em;
}

#loaded-xml-section th {
  border: 1px solid #ddd;
  padding: 8px;
}

#loaded-xml-section td {
  border: 1px solid #ddd;
  padding: 8px;
}

#loaded-xml-section th {
  background-color: rgb(209 213 219);
  color: rgb(31 41 55);
  text-align: left;
}